URxvt.perl-ext-common: default,xft,clipboard,url-select,matcher

! Font settings
URxvt.font: xft:HackNerdFont-Regular:size=8

! Cursor style
URxvt.cursorColor: #abb2bf
URxvt.cursorBlink: true
URxvt.cursorUnderline: true

! Scrollbar style
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true

! Border style
URxvt.internalBorder: 10

! Text standards
URxvt*utf8: 1
URxvt*termName: rxvt-unicode
URxvt*title:  Terminal

! Line spacing
URxvt.lineSpace: 5
URxvt.letterSpace: 1

! URL handling (requires external script)
URxvt.url-select.launcher: /usr/bin/firefox

! Clipboard integration
URxvt.iso14755: false
URxvt.secondaryWheel: true

URxvt.keysym.C-c:      perl:clipboard:copy
URxvt.keysym.C-v:      perl:clipboard:paste

! Save a backup of the configuration to apply changes
URxvt.saveLines: 10000
URxvt.geometry: 1920x1080


! One Dark color scheme
! One Dark theme without transparency
URxvt*background: #282c34
URxvt*foreground: #abb2bf

! Black
URxvt*color0: #282c34

! Red
URxvt*color1: #e06c75

! Green
URxvt*color2: #98c379

! Yellow
URxvt*color3: #e5c07b

! Blue
URxvt*color4: #61afef

! Magenta
URxvt*color5: #c678dd

! Cyan
URxvt*color6: #56b6c2

! White
URxvt*color7: #abb2bf

! Bright Black
URxvt*color8: #545862

! Bright Red
URxvt*color9: #e06c75

! Bright Green
URxvt*color10: #98c379

! Bright Yellow
URxvt*color11: #e5c07b

! Bright Blue
URxvt*color12: #61afef

! Bright Magenta
URxvt*color13: #c678dd

! Bright Cyan
URxvt*color14: #56b6c2

! Bright White
URxvt*color15: #abb2bf
